{{ "<!-- Hero -->" | safeHTML }}
<header id="hero">
  <div class="overlay">
    <div class="container"> 
      <div class="intro-text">
        <div class="intro-heading heading">
          <h1 class="intro-heading heading">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</h1><br>
          <h2 class="intro-subtitle">5-9 July, 2021</h2>
        </div>
        </div>
        {{ if .Site.Params.hero.showButton }}
        <a href="{{ .Site.Params.participation.tickets_link }}" class="page-scroll btn btn-xl">{{ with .Site.Params.hero.buttonText }}{{ . }}{{ end }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</header>
